@layout LazyLoadedMainLayout
@page "/counter"

<h1>Lazy loading</h1>

<p>The following component is lazily loaded from MyComponents.dll:</p>

@for (int i = 0; i < 300; i++)
{
    <Component1 />

}
@*<Component1 />*@

@code { }
